<div>
	<a href ng-click="store.inlist = !(store.inlist)" class="backbutton">back</a>
	<h1 id="title"> weblistr</h1>

	<div>
		<ul id = "links" >
			<li ng-repeat="product in store.multilist[store.numon]">
				<div> 
					<h2> {{(store.multilist[store.numon].indexOf(product)+1)}} </h2> 

					<a href ng-click="store.remove(store.list.indexOf(product)+1)"> x </a>
				</div>
				<h1>{{store.shorten(product.name)}}<h1>
				<p>{{store.shortenlong(product.url)}}</p>
			</li>
		</ul>
	</div>

	<div id = "add" ng-controller="AddController as add"> 
		<a href ng-click="add.setClick()">add site </a>
		<a id = "play" href ng-click="store.play()">play</a>
		<form name = "AddSite" ng-show="add.clicked" ng-submit="AddSite.$valid &&add.addSite(store.multilist, store.numon)" novalidate>
			<h2>New Site </h2>
			<fieldset class="form-group">
                <input type="text" required ng-model="add.site.name" class="form-control" placeholder="Example Title" title="Title"/>
              </fieldset>
              <fieldset class="form-group">
                <input type="text" required ng-model="add.site.url" class="form-control" placeholder="example.com" title="URL"/>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="add.site.notes" class="form-control" placeholder="Write comments about the site here..." title="Comments"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="add site"/>
              </fieldset>
		</form> 
	</div>
</div>